.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 16px;
    font-family: sans-serif;
    color: va();
    text-align: center;
  }
  
  .notfound-links {
    display: flex;
    flex-direction: column;
    gap: 50px;
  
    span {
      cursor: pointer;
      color: #007bff;
      text-decoration: underline;
      transition: color 0.2s;
      font-size: 28px;
  
      &:hover {
        color: #0056b3;
      }
    }
  }
  