.central-panel {
    display: flex;
    flex-direction: column;
    gap: 16px; // spacing between rows
    height: 100%;
    padding: 0 22px;
    overflow: scroll;
  }

  .header{
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 14px;
    text-align: left;
    color: var(--text);
  }
  
  .row1,.row2,.row3 {
    display: flex;
    flex-direction: row;
    gap: 16px; // spacing between columns
  }

  .row1{
    height: 280px;
  }

  .row2{
    height: fit-content;
  }

  .row3{
    height: fit-content;
  }
  
  .col {
    color: var(--text);
    // border: 1px solid #ccc;
    padding: 24px;
    display: flex;
    //align-items: center;
    justify-content: left;
    border-radius: 8px;
    background: var(--bg-row);
  }
  
  .flex-1 {
    flex: 1;
  }

  .flex-1-5 {
    flex: 1.2;
  }

  .flex-2 {
    flex: 2;
  }
  
  .flex-3 {
    flex: 3;
  }

  .line-graph{
    padding: 24px 24px 0 24px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 columns
    grid-template-rows: repeat(2, auto);   // 2 rows
    gap: 16px; // spacing between cards
    width: 100%;
    place-items: center;
  }
  
  