@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  font-style: normal; 
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Hide scrollbar for Chrome, Edge, Safari */
*::-webkit-scrollbar {
  display: none;
}
